@media (max-width: 428px) {
    header h1 {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    header nav {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        text-align: center;
    }

    header nav a {
        white-space: nowrap;
    }

    .sobre-mim {
        margin-top: auto;
        flex-direction: column;
        padding: 10% 5%;
    }

    .foto-pessoal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foto-pessoal img {
        height: 20vh;
        width: 20vh;
    }

    .sobre-mim-textos {
        width: auto;
    }

    .listas {
        flex-direction: column;
    }

    .card-lista li {
        width: 100%;
        padding: 15% 15%;
    }

    .icone {
        width: 30%;
    }

    .pos {
        margin-right: 80%;
        font-size: 80%;
        padding: 5% 4%;
    }

    .card-lista>li>span {
        font-size: 100%;
    }

    .lista-hobbies,
    .lista-linguas {
        flex-direction: column;
        padding: 0 5%;
    }

    .lista-hobbies h3,
    .lista-linguas h3 {
        text-align: start;
    }

    .lista-hobbies ul {
        flex-direction: column;
    }

    .lista-linguas ol {
        flex-direction: column;
    }

    .projeto {
        flex-direction: column;
        padding: 0 5%;
    }

    .capa-projeto>img {
        object-fit: cover;
        width: 100%;
        height: 20vh;
    }

    .capa-projeto>img:hover {
        height: 20vh;
    }

    .textos-projeto {
        width: auto;
    }

    .contatos {
        flex-direction: column;
        padding: 0 5%;
    }

    .texto-contato,
    .texto-contato>p {
        width: 100%;
    }

    .form-contato {
        width: 100%;
    }

    footer {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 5% 0;
    }

    footer img {
        height: 6vw;
    }

    /* MENU */

    header nav {
        display: none;
    }

    .icone-menu {
        display: flex;
    }

    .icone-menu img {
        cursor: pointer;
        display: inline;
    }


    .main {
        position: relative;
    }

    .menu nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5% 10%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--primary-color);
    }

    .menu a {
        text-decoration: none;
        color: var(--nav-color);
        animation: ease-in-out 0.9s;
    }

    .menu a:hover {
        transform: scale(1.05);
        color: var(--color-hover);
        animation: ease-in-out 0.9s;
    }

    #btn-menu:checked~.main .menu {
        display: flex;
    }

}