@import url('./root.css');
body {
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 80px;
    background-color: var(--primary-color);
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* SOBRE MIM */

.main {
    padding: 0 10% 0 10%;
}

.sobre-mim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 80px;
}

.foto-pessoal {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    object-fit: cover;
}

.sobre-mim-textos {
    width: 30vw;
    text-align: justify;
}

.sobre-mim-textos h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* LISTAS */

.listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5%;
}

.listas h3 {
    font-weight: bold;
}

.card-lista {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 10px;
}

.card-lista>li {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    width: 15vh;
    height: 25vh;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


.pos {
    position: absolute;
    font-size: 85%;
    top: 0;
    background-color: gray;
    margin-right: 75%;
    padding: 10% 5%;
}

#hobbies-texto {
    text-align: end;
}

#ul-lista {
    display: flex;
    flex-direction: row-reverse;
}

/* Projeto */

.projeto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 80px 0 20px;
    gap: 40px;
}

.textos-projeto {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 60px;

}

.textos-projeto>div>h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.capa-projeto>img {
    width: 20vw;
    height: auto;
    border-radius: 10px;
}

.capa-legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 2vh;
}

.capa-legenda>h4 {
    font-weight: bold;
}

/* COntatos */

.contatos {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.contatos>div {
    width: 50%;
}

.contatos>div>p {
    width: 80%;
}

.contatos>div>h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-contato {
    width: 50%;
}

.form-contato>input {
    width: 100%;
}

.campo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo-form>label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-form>input {
    background-color: rgb(206, 206, 206);
    height: 5vh;
    border-radius: 16px;
    border: none;
}

.campo-form>input::placeholder {
    padding-left: 2%;
}

.campo-form>textarea {
    background-color: rgb(206, 206, 206);
    border-radius: 16px;
    border: none;
}

.campo-form>textarea::placeholder {
    padding: 1% 0 0 2%;
}

#btn-enviar {
    margin-left: auto;
}

#btn-enviar>input {
    border-radius: 16px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
}

/* Footer */

footer {
    height: 9vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px
}

